@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/LibreBaskerville-Regular.eot');
    src: url('../fonts/LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LibreBaskerville-Regular.woff2') format('woff2'),
        url('../fonts/LibreBaskerville-Regular.woff') format('woff'),
        url('../fonts/LibreBaskerville-Regular.svg#LibreBaskerville-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/LibreBaskerville-Italic.eot');
    src: url('../fonts/LibreBaskerville-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LibreBaskerville-Italic.woff2') format('woff2'),
        url('../fonts/LibreBaskerville-Italic.woff') format('woff'),
        url('../fonts/LibreBaskerville-Italic.svg#LibreBaskerville-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/LibreBaskerville-Bold.eot');
    src: url('../fonts/LibreBaskerville-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LibreBaskerville-Bold.woff2') format('woff2'),
        url('../fonts/LibreBaskerville-Bold.woff') format('woff'),
        url('../fonts/LibreBaskerville-Bold.svg#LibreBaskerville-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/RobotoMono-Regular.eot');
    src: url('../fonts/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoMono-Regular.woff2') format('woff2'),
        url('../fonts/RobotoMono-Regular.woff') format('woff'),
        url('../fonts/RobotoMono-Regular.svg#RobotoMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}