body {
    padding-top: 64px;
}
.swiper {
    max-width: 800px;
    height: 474px;
    margin-right: 0;
    border-radius: 0 4px 4px 0;
    filter: drop-shadow(0 0 0.45rem rgb(221, 220, 220));
  }
.slider-container {
    padding: 25px 0px;
}
.swiper-slide img {
    width: 100%;
    height: 474px;
    object-fit: cover;
}
.head-flex {
    display: flex;
    /* justify-content: space-around; */
    /* background-color: #e7d9ce; */
    background-color: #fff8f4;
    /* background-color: #f6f8fc; */
    /* overflow: hidden; */
    /* background-image: url('../img/velveybg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    justify-content: center;
    align-items: center;
    opacity: 93%;
}
.desc-wrapper {
    height: 474px;
    max-width: 800px;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 4px 0px 0px 4px;
    filter: drop-shadow(0 0 0.45rem rgb(221, 220, 220));
}
.blur {
    filter: blur(1px);
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 474px;
    z-index: 4;
    overflow: hidden;
}
.head-desc {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: 100%;
    justify-content: center;
    text-align: center;
    /* margin: auto; */
    background-color: rgba(255, 255, 255, 0.849);
    padding: 25px;
    z-index: 5;
    filter: drop-shadow(0 0 0.45rem rgb(221, 220, 220));
}
.head-text {
    font-family: 'Libre Baskerville', sans-serif;
    color: #6d5c53;
    font-weight: 400;
    letter-spacing: 0px;
    /* text-shadow: 0px 1px 3px #8f8f8f; */
}
.head-text:nth-child(1) {
    font-size: 45px;
    line-height: 60px;
}
.head-text:nth-child(2) {
    padding-top: 20px;
    font-size: 20px;
    line-height: 20px;
}
.head-text:nth-child(3) {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 25px;
    font-size: 15px;
}
.get-yours-btn {
    width: 100%;
    background-color: #a76764;
    height: 44px;
    width: 190px;
    border: none;
    cursor: pointer;
}
.get-yours-btn:hover {
    background-color: #85504e;
    transition: all 0.2s linear;
}
.get-yours p{
    color: white;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c5a890;
    height: 68px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 500;
}
.nav-ul{
    display: flex;
    justify-content: space-around;
}
.nav-ul li {
    margin: 3px 70px;
    vertical-align: middle;
    cursor: pointer;
}
.nav-ul li:hover {
    color:  rgb(211, 211, 211);
    transition: all 0.2s linear;
}
.burger-wrap {
    display: none;
    margin: auto;
    width: 26px;
    height: 14px;
    cursor: pointer;
    position: relative;
}
.burger {
    background-color: white;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    transition: all 0.3s ease;
}
.bar1 {
    top: 0;
}
.bar2 {
    top: 9px;
}
.bar3 {
    top: 18px;
}
.active .bar1,
.active .bar3 {
    top: 9px;
    background-color: #85504e;
}
.active .bar1{
    transform: rotate(45deg);
}
.active .bar2 {
    display: none;
}
.active .bar3{
    transform: rotate(-45deg);
}
.nav-ul-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.nav-ul-active li {
    margin: 10px 0 10px 0;
    cursor: pointer;
}
.nav-ul-active li:hover {
    color:  rgb(211, 211, 211);
    transition: all 0.2s linear;
}
.active-content .login {
    display: block;
    margin-right: 0;
}
.active .active-content {
    margin-top: 50px;
    height: fit-content;
    background-color: #c5a890;
    display: block;
}
.active .nav-ul-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white !important;
    font-family:'arial', 'sans-serif';
    font-size: 18px;
}
.active .nav-ul-active li {
    margin: 10px 0 10px 0;
}
.active-content.active {
    position: fixed;
    width: 100%;
    height: fit-content;
    background-color: #c5a890;
    z-index: 40;
    transition: all 0.08s linear; 
}
.login {
    margin-right: 25px;
    padding: 2px 14px;
    border: 2px solid white;
    border-radius: 1px;
    color: whitesmoke;
    font-family: "arial", 'sans-serif';
    font-size: 18px;
}
.login:hover {
    border: 2px solid rgb(211, 211, 211);
    color:  rgb(211, 211, 211);
    transition: all 0.2s linear;
}
.logo {
    font-size: 22px;
    vertical-align: middle;
    font-family:'Montserrat', 'sans-serif';
}
.logo i {
    vertical-align: middle;
}
.nav-cont {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 6px;
    color: white !important;
    font-family:'arial', 'sans-serif';
    font-size: 16px;
}
/* section {
    overflow: hidden;
} */
/* .about-us-bg {
    background-image: url('https://st.depositphotos.com/2702761/3303/i/950/depositphotos_33031525-stock-photo-floral-pattern-on-a-fabric.jpg');
    width: 100%;
    height: 667px;
    filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #e7d9ce; */
    /* overflow: hidden;
} */ 
#aboutUsSection {
    background-color: rgb(254, 252, 240);
}
.about-us {
    position: relative;
}
.bg-img {
    margin: auto;
    background-image: url('../img/sec2.jpg');
    filter: blur(1px);
    overflow: hidden;
    width: 80%;
    height: 600px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-img-container {
    padding-top: 150px;
    padding-bottom: 150px;
    overflow: hidden;
}
.outer {
    position: absolute;
    z-index: 2;
    max-width: 500px;
    height: 450px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #725f51;
    padding: 10px;
}
.inner {
    border: 1px solid #725f51;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
.about-us-text:nth-child(1){
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    align-self: flex-start;
    font-family: 'Montserrat', 'sans-serif';
    color: #534741;
    letter-spacing: 1px;
}
.about-us-text:nth-child(2) {
    line-height: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Libre Baskerville', sans-serif;
    color: #534741;
    font-size: 35px;
    font-weight: 400;
}
.about-us-text:nth-child(3) {
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 26px;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 13px;
}
/* section 3 */
.mission-wrapper {
    background-color: #faf0e0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.mission-img {
    background-image: url('../img/1.JPG');
    width: 400px;
    height: 450px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.mission-textbox {
    max-width: 475px;
    height: 375px;
    background-color: #faf0e0;
    transform: translate(-3%, -3%);
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    border-right: 1px solid #725f51;
    border-bottom: 1px solid #725f51;
}
.mission-text:nth-child(1){
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    align-self: flex-start;
    font-family: 'Montserrat', 'sans-serif';
    color: #534741;
    letter-spacing: 1px;
    border-bottom: 1px solid #725f51;
}
.mission-text:nth-child(2) {
    line-height: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Libre Baskerville', sans-serif;
    color: #534741;
    font-size: 35px;
    font-weight: 400;
}
.mission-text:nth-child(3) {
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 26px;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 13px;
}
.mission-shadowbox {
    background-color: #a76764;
    transform: translate(3%, 3%);
}
/* section 4 */
.signup-wrapper {
    background-color: rgb(254, 252, 240);
    padding: 250px 0px;
    /* position: relative; */
}
.signup-section {
    position: relative;
    background-color: rgb(254, 252, 240);
    padding: 250px 0px;
}
input {
    padding: 12px 20px;
    border:none;
    border-bottom: 1px solid rgb(254, 252, 240);
    width: 40%;
    background-color: rgb(254, 252, 240);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Montserrat', 'sans-serif';
    color: #534741;
    letter-spacing: 1px;
    margin: 10px 0;
    text-align: center;
}
input:focus {
    outline: none;
    width: 97%;
    border-bottom: 1px solid #725f51;
    transition: all 0.2s linear;
}
.label, .label-user, .label-password {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Montserrat', 'sans-serif';
    color: #534741;
    letter-spacing: 1px;
}
.signup-title {
    line-height: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Libre Baskerville', sans-serif;
    color: #534741;
    font-size: 30px;
    font-weight: 400;
}
.form-container {
    width: 45%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; */
    /* border-bottom: 1px solid #725f51;
    border-right: 1px solid #725f51; */
    /* margin: auto; */
    position: absolute;
    top: 65%;
    left: 65%;
    z-index: 8;
    transform: translate(-65%, -65%);
}
.form-wrapper {
    /* padding-left: 110px; */
    text-align: center;
    padding: 20px;
    border: 1px solid #725f51;
    /* width: 45%; */
    background-color: rgb(254, 252, 240);
}
.error-text {
    display: block;
    color: #a76764;
    margin-bottom: 12px;
    transition: all 0.1s linear;
}
#signup {
    border: 1px solid #725f51;
    padding: 10px;
}
.signup-img {
    /* margin-left: 400px; */
    background-image: url("../img/IMG_5425.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: 300px; */
    position: absolute;
    width: 400px;
    height: 500px;
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
}
.submitbutton, .login-button {
    width: 20%;
    border: none;
    background-color: #a76764;
    font-family: 'Libre Baskerville', sans-serif;
    color: #6d5c53;
    font-weight: 400;
    letter-spacing: 0px;
    padding: 5px 0;
    color: white;
    cursor: pointer;
}
.eye {
    color:#85504e;
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.focused{
    display: inline-block;
}
#passwordEnter {
    position: relative;
}
/* footer */
.footer-wrapper {
    background-color: #c5a890;
    padding: 90px 0px 40px 0px;
}
.footer-content {
    max-width: 1006px;
    width: 100%;
    margin: 0 auto;
}
.footer-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.grapy-footer{
    font-family: 'Libre Baskerville', sans-serif;
    max-width: 260px;
    width: 100%;
}
.grapy-footer h3 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    vertical-align: middle;
}
.grapy-footer i {
    vertical-align: middle;
}
.grapy-footer p {
    color: #707070;
    font-size: 14px;
    line-height: 19px;
}
.socials {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}
.facebook {
    width: 35px;
    height: 35px;
    background-color: #a76764;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
}
.twitter {
    width: 35px;
    height: 35px;
    background-color: #a76764;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    margin: 0 11px 0 11px;
}
.google {
    width: 35px;
    height: 35px;
    background-color: #a76764;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
}
.head-footer {
    color: #FFFFFF;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.links-footer li {
    font-size: 14px;
    font-family: 'Libre Baskerville', sans-serif;
    color: #a76764;
    line-height: 19px;
    margin-top: 11px;
}
.footer-embed-ul {
    margin-top: 11px;
}
.footer-embed-ul li:nth-child(2) {
    margin: 21px 0 21px 0;
}
.footer-embed {
    font-size: 14px;
    font-family: 'Libre Baskerville', sans-serif;
    color: #ffffff;
    line-height: 19px;
}
.contact {
    color: #a76764;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 14px;
}
.footer-copy {
    margin-top: 54px;
    font-size: 14px;
    font-family: 'Libre Baskerville', sans-serif;
    color: #707070;
    line-height: 19px;
}
.author {
    color: #a76764;
}
/* dynamic login */
#loginParent {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7000;
}
.login-block {
    display: block !important;
}
.login-bg {
    width: 100%;
    height: 100%;
    background-color: #707070e1;
    position: absolute;
}
.login-wrap {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: fit-content;
    padding: 10px;
    border: 1px solid #725f51;
    background-color: rgb(254, 252, 240);
}
.login-form {
    border: 1px solid #725f51;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.user-wrap, .password-wrap {
    text-align: center;
}
.login-button {
    align-self: center;
    justify-self: center;
    cursor: pointer;
}
#x {
    position: fixed;
    font-size: 40px;
    color: #85504e;
    top: 3%;
    right: 6%;
    transform: translate(-6%, -3%);
    /* filter: drop-shadow(0 0 0.45rem rgb(59, 59, 59)); */
    cursor: pointer;
    border: #534741 solid 1px;
    padding: 0 10px;
    background-color: rgb(214, 212, 202);
}
/* on scroll animations */
.js-scroll {
    opacity: 0;
    /* visibility: hidden; */
    /* transition:800ms cubic-bezier(.23,1,.32,1); */
} 

@keyframes fade-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.js-scroll.scrolled {
    opacity: 1;
    animation: fade-in-bottom 1s ease-in-out both;
}
.form-wrapper.js-scroll.scrolled {
    animation: fade-in-bottom 1s ease-in-out;
}
